HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/
spring.log

### Sistema operacional ###
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~

### Java ###
*.class
*.jar
*.war
*.ear

### Maven ###
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Credenciais / Segurança ###
# Evita subir dados sensíveis
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application-local.properties
src/main/resources/application-dev.properties
src/main/resources/application-prod.properties

### Banco de dados ###
*.db
*.sqlite
*.mv.db
*.h2.db
*.dump

# Ignora todos os .sql
*.sql

# Exceto migrations do Flyway
!src/main/resources/db/migration/*.sql
